@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.title {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 40px;
}

.centered {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.inTheMiddle {
  text-align: center;
}
